.quicklinksWrapper {
  display: flex;
  justify-content: center;
  list-style: none;
}

.quicklinksWrapper > a {
  margin-right: 2rem;
}
.quicklinksWrapper > a:nth-child(1) {
  margin-left: 2rem;
}

.quicklink {
  height: 4rem;
}

.quicklink:hover {
  transform: translateY(-2px);
}
