.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userProfile > * {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.userProfile img {
  box-shadow: 5px 5px 10px rgb(181, 181, 181);
  width: 30%;
  max-width: 400px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.userProfile #displayName {
  font-size: 3.2rem;
}

.userProfile #userName {
  font-size: 1.6rem;
}

.userProfile #bio {
  margin-bottom: 1rem;
}

.edit-button {
  text-decoration: none;
  color: white;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
